
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1494851220129'); /* IE9*/
  src: url('iconfont.eot?t=1494851220129#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1494851220129') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1494851220129') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1494851220129#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche:before { content: "\343f"; }

.icon-fenlei:before { content: "\3452"; }

.icon-search:before { content: "\e660"; }

.icon-my:before { content: "\e9bd"; }

.icon-index:before { content: "\e60a"; }

